body{
    background-color: #C6D9EE;
    font-family: sans-serif;
}
header{
    text-align: right;
    font-size: 150%;
}
h2{
    font-family: monospace;
    font-size: 300%;
    font-variant: small-caps;
}
span.sans{
    color: red;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
span.fecha{
    color: orange;
}
strong{
    color: #d2691e;
}
em{
    color:green;
    background-color: white;
}
p{
    text-indent: 3%;
    line-height: 200%;
}
footer{
    text-align: center;
    font-size: 80%;
}